* {
    font-family: "poppins", san-serif;
  }
  
  button {
    cursor: pointer;
  }
  
  .container {
    max-width: 800px;
    width: 90%;
    margin: 10em auto;
  }
  
  /* Style the buttons that are used to open and close the accordion panel */
  .faq, .wc-accordion {
    margin-top: 25px;
    /* Style the accordion panel. Note: hidden by default */
  }
  .faq .accordion, .wc-accordion .accordion {
    padding: 30px 0px 5px 0px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 0px;
    background: none;
    display: flex;
    border-top: 2px solid #e8f1ef;
    font-size: 1.25rem;
    justify-content: space-between;
    align-items: center;
  }
  .faq .active, .faq .accordion:hover, .wc-accordion .active, .wc-accordion .accordion:hover {
    background-color: none;
  }
  .faq .accordion:focus, .wc-accordion .accordion:focus {
    text-decoration: underline;
  }
  .faq .active i, .wc-accordion .active i {
    transform: rotate(90deg);
  }
  .faq .panel, .wc-accordion .panel {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition-duration: 400ms;
    transition-property: max-height, visibility;
    transition-delay: 0, 400ms;
  }
  
  .panel.open {
    visibility: visible;
    transition-duration: 400ms;
    transition-property: max-height, visibility;
    transition-delay: 400ms, 0;
  }
  
  .closed .vertical {
    transition: all 0.4s ease-in-out;
    transform: rotate(-90deg);
  }
  .closed .horizontal {
    transition: all 0.4s ease-in-out;
    transform: rotate(-90deg);
    opacity: 1;
  }
  
  .active {
    opacity: 1;
  }
  .active .vertical {
    transition: all 0.4s ease-in-out;
    transform: rotate(90deg);
  }
  .active .horizontal {
    transition: all 0.4s ease-in-out;
    transform: rotate(90deg);
    opacity: 0;
  }
  
  .circle-animation {
    position: relative;
    flex: 0 0 30px;
  }
  
  .circle-animation .horizontal {
    position: absolute;
    background-color: #ffc454;
    width: 20px;
    height: 3px;
    left: 50%;
    margin-left: -10px;
    top: 50%;
    margin-top: -1px;
  }
  
  .circle-animation .vertical {
    position: absolute;
    background-color: #ffc454;
    width: 3px;
    height: 20px;
    left: 50%;
    margin-left: -1px;
    top: 50%;
    margin-top: -10px;
  }